{
  "printWidth": 120,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.js", "*.ts"],
      "options": {
        "trailingComma": "all",
        "singleQuote": true
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "proseWrap": "always",
        "tabWidth": 4
      }
    }
  ]
}
